@import "../colors.css";

.selectorDiv{
    display: flex;
    background-color: var(--light-grey);
    height: 30px;
    width: 284px;
    margin: 8px;
    border-radius: 7px;
}
.label{
    margin: 8px;
    font-size: 13px;
}