@import "../colors.css";

.button{
    background-color: var(--light-grey);
    font-size: 13px;
    color: black;
    height: 30px;
    width: 60px;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    border: none;
}
.selectedButton {
    background-color: var(--green);
    color: white;
}
.routeContainer{
    display: flex;
    margin: 5px;
}
.route{
    font-size:15px;
}