.gnb {
  display: flex;
  height: 40px;
  width: 300px;
  padding: 5px;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: white;
  border-top: solid rgb(120,120,120) 1px;
}

.gnb__column {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabText {
  font-size: 13px;
  padding: 5px;
  color: rgb(120, 120, 120);
}

.selectedText {
  color: black;
}