.gnb{
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.gnb__column{
  width: 33%
}
.gnb__column:first-child span{
  margin-right: 5px;
}
.gnb__column:nth-child(2){
  display: flex;
  justify-content: center;
}
.gnb__column:last-child{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
